.cocktail-details {
  display: grid;
  grid-row-gap: 2.5vh;
  justify-content: space-between;
  align-items: center;
}

.cocktail-details .bp3-callout {
  width: 35.5vw;
}

.cocktail-details .bp3-list {
  text-transform: capitalize;
}

.cocktail-details .bp3-list li {
  padding: 1vh;
  font-size: 2vh;
}

.cocktail-details .bp3-tag {
  text-transform: none;
  float: right;
}

.ingredients-heading .bp3-heading {
  margin-bottom: 0;
}
