@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


.bp3-navbar-heading {
  font-size: 2rem;
  margin-bottom: 0;
}

.bar-page-content {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 2vw;
  padding: 2vw 0;
  height: 93.741vh;
  justify-content: center;

  background-image: url('./barPageBg.jpg');
  background-size: cover;
  overflow-y: auto;
  background-repeat: no-repeat;
}

.cocktails, .users-bar, .cocktail-info, .cocktail-details {
  background-color: rgba(255,255,255,.94);
  border-radius: 0.125rem;
  padding: 2vw;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1vh;
  align-content: start;
  height: 60vh;
}

.bar-page-content > .users-bar {
  grid-column: 1 / span 2;
  margin: 0 15vw;
}
