.cocktail-form {
  text-align: left;
  display: grid;
  grid-template-columns: auto 15%;
  grid-gap: 1vh;
}

.cocktail-form > .bp3-form-group {
  grid-column: 1 / span 2;
}

.cocktail-form > .bp3-form-group .bp3-input {
  height: 15vh;
}

.bp3-input {
  margin-bottom: 0;
  margin-top: 0;
}