.cocktails-list {
  overflow-x: scroll;
}

.cocktails-list > .cocktail:nth-child(2n+1) {
  background-color: rgba(191,204,214,.35);
}

.cocktails-list > .cocktail:hover {
  background-color: rgba(167,182,194,.7);
}

.cocktails-list > .cocktail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
